<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Proyecto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-home"></i> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/images"><i class="fas fa-comments"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <% if (user) { %> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/notes"><i class="far fa-comment-alt"></i>  Notas</a></li>
                          <li><a class="dropdown-item" href="/users/<%= user._id %> "><i class="fas fa-user-circle"></i>  Perfil</a></li>
                          <% if(user.role === 'admin') { %>
                            <li><a class="dropdown-item" href="/admin"><i class="fas fa-cogs"></i>  Administración</a></li>
                          <% } else  if (user.role === 'professor' ){%>
                            <li><a class="dropdown-item" href="/homeworks"><i class="fas fa-sign-out-alt"></i> Asignaciones</a></li>
                          <% } else {%>
                            <li><a class="dropdown-item" href="/homeworks"><i class="fas fa-sign-out-alt"></i> Asignaciones</a></li>
                            <% } %>  
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/users/signin"><i class="fas fa-sign-out-alt"></i>  Cerrar sesión</a></li>     
                        </ul>
                    </li>
                 <% } else { %> 
                    <li class="nav-item">
                      <a class="dropdown-item" href="/users/signin"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                      <li class="nav-item">
                        <a class="nav-link" href="/users/signup">Regístrate</a>
                      </li>
               <% } %>   
              </ul>
            </div>
          </div>
    </div>
</nav>