<%- include("./includes/_header") %> 

<main class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Pagina principal proyecto</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum natus quidem, repudiandae totam facilis ab dolorum sit sint debitis doloremque fugiat voluptatum pariatur minus quisquam. Id alias at dicta assumenda?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque qui tempora voluptatum sunt omnis? Harum tenetur impedit laborum iusto, numquam tempora qui fugiat vel excepturi sint odit nam veniam asperiores.</p>
        <a href="http://google.com" class="btn btn-primary btn-lg">Aqui</a>
    </div>
</main>


<%- include("./includes/_footer") %> 