<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edule - eLearning Website Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">

    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <head>
        <script src="https://kit.fontawesome.com/f8294d8a77.js" crossorigin="anonymous"></script>
    </head>

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/public/css/plugins/icofont.min.css">
    <link rel="stylesheet" href="/public/css/plugins/flaticon.css">
    <link rel="stylesheet" href="/public/css/plugins/font-awesome.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/public/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/public/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/public/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/public/css/plugins/apexcharts.css">
    <link rel="stylesheet" href="/public/css/plugins/jqvmap.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- SCRIPTS-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="/public/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="/public/css/style.min.css"> -->

</head>

<body>

    <div class="main-wrapper main-wrapper-02">

        <!-- Login Header Start -->
        <div class="section login-header">
            <!-- Login Header Wrapper Start -->
            <div class="login-header-wrapper navbar navbar-expand">

                <!-- Header Logo Start -->
                <div class="login-header-logo">
                    <a href="index.html"><img src="/public/images/logo-icon.png" alt="Logo"></a></li>
                </div>
                <!-- Header Logo End -->

                <!-- Header Search Start -->
                <div class="login-header-search dropdown">
                    <button class="search-toggle" data-bs-toggle="dropdown"><i class="flaticon-loupe"></i></button>

                    <div class="search-input dropdown-menu">
                        <form action="#">
                            <input type="text" placeholder="Search here">
                        </form>
                    </div>

                </div>
                <!-- Header Search End -->

                <!-- Header Action Start -->
                <div class="login-header-action ml-auto">
                    <div class="dropdown">
                        <button class="action notification" data-bs-toggle="dropdown">
                            <i class="flaticon-notification"></i>
                            <span class="active"></span>
                        </button>
                        <div class="dropdown-menu dropdown-notification">
                            <ul class="notification-items-list">
                                <li class="notification-item">
                                    <span class="notify-icon bg-success text-white"><i class="icofont-ui-user"></i></span>
                                    <div class="dropdown-body">
                                        <a href="#">
                                            <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                            </p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                                <li class="notification-item">
                                    <span class="notify-icon bg-success text-white"><i class="icofont-shopping-cart"></i></span>
                                    <div class="dropdown-body">
                                        <a href="#">
                                            <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                                <li class="notification-item">
                                    <span class="notify-icon bg-danger text-white"><i class="icofont-book-mark"></i></span>
                                    <div class="dropdown-body">
                                        <a href="#">
                                            <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                            </p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                                <li class="notification-item">
                                    <span class="notify-icon bg-success text-white"><i class="icofont-heart-alt"></i></span>
                                    <div class="dropdown-body">
                                        <a href="#">
                                            <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                                <li class="notification-item">
                                    <span class="notify-icon bg-success text-white"><i class="icofont-image"></i></span>
                                    <div class="dropdown-body">
                                        <a href="#">
                                            <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                            </p>
                                        </a>
                                    </div>
                                    <span class="notify-time">3:20 am</span>
                                </li>
                            </ul>
                            <a class="all-notification" href="#">See all notifications <i class="icofont-simple-right"></i></a>
                        </div>
                    </div>

                    <a class="action author" href="#">
                        <img src="/public/images/author/author-07.jpg" alt="Author">
                    </a>

                    <div class="dropdown">
                        <button class="action more" data-bs-toggle="dropdown">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="" href="#"><i class="icofont-user"></i> Profile</a></li>
                            <li><a class="" href="#"><i class="icofont-inbox"></i> Inbox</a></li>
                            <li><a class="" href="#"><i class="icofont-logout"></i> Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Action End -->

            </div>
            <!-- Login Header Wrapper End -->
        </div>
        <!-- Login Header End -->

        <!-- Courses Admin Start -->
        <div class="section overflow-hidden position-relative" id="wrapper">

            <!-- Sidebar Wrapper Start -->
            <div class="sidebar-wrapper">
                <div class="menu-list">
                    <a class="active" href="courses-admin.html"><img src="/public/images/menu-icon/icon-1.png" alt="Icon"></a>
                    <a href="messages.html"><img src="/public/images/menu-icon/icon-2.png" alt="Icon"></a>
                    <a href="overview.html"><img src="/public/images/menu-icon/icon-3.png" alt="Icon"></a>
                    <a href="engagement.html"><img src="/public/images/menu-icon/icon-4.png" alt="Icon"></a>
                    <a href="traffic-conversion.html"><img src="/public/images/menu-icon/icon-5.png" alt="Icon"></a>
                </div>
            </div>
            <!-- Sidebar Wrapper End -->

            <div class="page-content-wrapper py-0">
                
                <div class="main-content-wrapper mt-0"></div>
                    <div class="container-fluid">

                        <!-- Student Top Start -->
                        <div class="admin-top-bar students-top">
                            <div class="courses-select">
                                <select>
                                    <option data-display="Todas las asignaciones">Todas las asignaciones</option>
                                    <option value="1">Pagina 1</option>
                                    <option value="2">Pagina 2</option>
                                    <option value="3">Pagina 3</option>
                                    <option value="4">Pagina 4</option>
                                </select>

                                <h4 class="title">Aqui puedes ver todas las asignaciones disponibles </h4>
                            </div>

                        </div>
                        <!-- Student Top End -->
                        <% if (homeworks.length > 0) { %>

                        <!-- Student's Wrapper Start -->
                        <div class="students-wrapper students-active">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <% for (var i = 0; i < homeworks.length; i++) { %>
                                    <div class="swiper-slide">
                                        <!-- Single Student Start -->
                                        <div class="single-student">
                                            <div class="student-images">
                                                <img src="/public/images/author/author-01.jpg" alt="Author">
                                            </div>
                                            <div class="student-content">
                                                <h5 class="name"><a href="/homeworks/<%= homeworks[i]._id %> " ><%= homeworks[i].title %> </h5></a>
                                                <span class="date">
                                                <p><%= homeworks[i].description %></p>
                                                <span class="date"><i class="icofont-ui-calendar"></i><%= homeworks[i].end %> </span>
                                            </div>
                                        </div>
                                        <!-- Single Student End -->
                                    </div>
                                    <% } %>
                                
                                    
                                </div>

                                <div class="students-arrow">
                                    <!-- Add Pagination -->
                                    <div class="swiper-button-prev"><i class="icofont-rounded-left"></i></div>
                                    <div class="swiper-button-next"><i class="icofont-rounded-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">¡No hay asignaciones aún! </h5>
                                            <p class="card-text">Añade una asignación para ver que tanto han avanzado los alumnos</p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>




                        <!-- Student's Wrapper End -->

                        <!-- Student's Map Start -->

                        <!-- Student's Map End -->

                        <!-- Student's Widget Start -->
                       
                        <!-- Student's Widget End -->

                        <!-- New Courses Start -->
                        <div class="new-courses" style="background-image: url(/public/images/new-courses-banner.jpg);">
                            <div class="new-courses-title">
                                <h3 class="title">¿Quieres aprender mas? <br> Considera este panel donde ofrecemos muchas cosas interesantes sobre comunicaciones</h3>
                            </div>
                            <img class="shape d-none d-xl-block" src="/public/images/shape/shape-27.png" alt="Shape">
                            <div class="new-courses-btn">
                                <a href="/edx.com" class="btn">Cursos<i class="icofont-rounded-right"></i></a>
                            </div>
                        </div>
                        <!-- New Courses End -->

                    </div>
                </div>
                <!-- Page Content Wrapper End -->

            </div>

        </div>
        <!-- Courses Admin End -->

        <!-- Footer Start  -->
        <div class="section footer-section">

            <!-- Footer Widget Section Start -->
            <div class="footer-widget-section">

                <img class="shape-1 animation-down" src="/public/images/shape/shape-21.png" alt="Shape">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 order-md-1 order-lg-1">

                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <div class="widget-logo">
                                    <a href="#"><img src="/public/images/logo.png" alt="Logo"></a>
                                </div>

                                <div class="widget-address">
                                    <h4 class="footer-widget-title">Caribbean Ct</h4>
                                    <p>Haymarket, Virginia (VA).</p>
                                </div>

                                <ul class="widget-info">
                                    <li>
                                        <p> <i class="flaticon-email"></i> <a href="mailto:address@gmail.com">address@gmail.com</a> </p>
                                    </li>
                                    <li>
                                        <p> <i class="flaticon-phone-call"></i> <a href="tel:9702621413">(970) 262-1413</a> </p>
                                    </li>
                                </ul>

                                <ul class="widget-social">
                                    <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="flaticon-skype"></i></a></li>
                                    <li><a href="#"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->

                        </div>
                        <div class="col-lg-6 order-md-3 order-lg-2">

                            <!-- Footer Widget Link Start -->
                            <div class="footer-widget-link">
                                

                                <!-- Footer Widget Start -->
                                <div class="footer-widget">
                                    <h4 class="footer-widget-title">Category</h4>

                                    <ul class="widget-link">
                                        <li><a href="#">Creative Writing</a></li>
                                        <li><a href="#">Film & Video</a></li>
                                        <li><a href="#">Graphic Design</a></li>
                                        <li><a href="#">UI/UX Design</a></li>
                                        <li><a href="#">Business Analytics</a></li>
                                        <li><a href="#">Marketing</a></li>
                                    </ul>

                                </div>
                                <!-- Footer Widget End -->

                                <!-- Footer Widget Start -->
                                <div class="footer-widget">
                                    <h4 class="footer-widget-title">Quick Links</h4>

                                    <ul class="widget-link">
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Discussion</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Customer Support</a></li>
                                        <li><a href="#">Course FAQ’s</a></li>
                                    </ul>

                                </div>
                                <!-- Footer Widget End -->

                            </div>
                            <!-- Footer Widget Link End -->

                        </div>
                        <div class="col-lg-3 col-md-6 order-md-2 order-lg-3">

                            <!-- Footer Widget Start -->
                            <div class="footer-widget">
                                <h4 class="footer-widget-title">Subscribe</h4>

                                <div class="widget-subscribe">
                                    <p>Lorem Ipsum has been them an industry printer took a galley make book.</p>

                                    <div class="widget-form">
                                        <form action="#">
                                            <input type="text" placeholder="Email here">
                                            <button class="btn btn-primary btn-hover-dark">Subscribe Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Footer Widget End -->

                        </div>
                    </div>
                </div>

                <img class="shape-2 animation-left" src="/public/images/shape/shape-22.png" alt="Shape">

            </div>
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Footer Copyright Start -->
                    <div class="copyright-wrapper">
                        <div class="copyright-link">
                            <a href="#">Terms of Service</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Security</a>
                        </div>
                        <div class="copyright-text">
                            <p>&copy; 2021 <span> Edule </span> Made with <i class="icofont-heart-alt"></i> by <a href="#">Codecarnival</a></p>
                        </div>
                    </div>
                    <!-- Footer Copyright End -->

                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>






    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="/public/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/public/js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/public/js/plugins/popper.min.js"></script>
    <script src="/public/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="/public/js/plugins/swiper-bundle.min.js"></script>
    <script src="/public/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/plugins/video-playlist.js"></script>
    <script src="/public/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/public/js/plugins/ajax-contact.js"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="/public/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="/public/js/main.js"></script>

    <!-- Charts JS -->
    <script src="/public/js/plugins/jquery.vmap.min.js"></script>
    <script src="/public/js/plugins/jquery.vmap.world.js"></script>
    <script src="/public/js/plugins/jquery.vmap.sampledata.js"></script>
    <script src="/public/js/student-map.js"></script>

        <!-- Main JS -->
        <script src="/public/js/main.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    

</body>

</html>