<%- include("../includes/header") %>

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Homework
            </div>
            <div class="card-body">
                <form action="/homework/new-homework" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Insert Title" required>             
                    </div>
                    <div class="form-group">
                        <textarea name="description" rows="2" class="form-control" placeholder="Insert description"
                            required></textarea>
                    </div>

                    <input type="text" name="datefilter" />
                    
                    <div class="form-group">
                        <div class="input-group">
                            <div class="custom-file">
                             <input type="file" name="image" class="custom-file-input" id="inputGroupFile04"
                                    aria-describedby="inputGroupFileAddon04" required>
                            <label class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="Submit" class="btn btn-primary btn-block"> 
                            Done
                        </button>
                    </div>

                </form>
            </div>
            <script type="text/javascript">
                $(function() {
                
                    $('input[name="datefilter"]').daterangepicker({
                        autoUpdateInput: false,
                        locale: {
                            cancelLabel: 'Clear'
                        }
                    });
                
                    $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                    });
                
                    $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                        $(this).val('');
                    });
                
                });
            </script>
        </div>
 
    </div>
</div>


<%- include("../includes/footer") %>